@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-slate-950 text-slate-50;
}

a {
  @apply text-slate-100 hover:text-white;
}
